.columnWrapper {
  padding: 32px 0;
  display: grid;
  width: 100%;
}

.columnLayout {
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  column-gap: 1.2rem;
}
.rowLayout {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  row-gap: 1.2rem;
}

@media screen and (max-width: 768px) {
  .columnWrapper {
    padding: 32px 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    row-gap: 1.2rem;
  }
}
