.column {
  flex: 1;
  padding: 1.2rem 0.75rem 2rem;
  list-style-type: none;
  background-color: hsl(var(--card));
  /* height: 100%; */

  border: 1px solid hsl(var(--border));
  border-radius: calc(var(--radius) + 2px * 2);
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0px !important;
    height: 50px;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    background: linear-gradient(0deg, hsl(var(--card)) 70%, transparent 100%);
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;

  align-items: center;
  justify-content: space-between;
}

.header .headerTitle {
  font-weight: 400;
  font-size: 14px;
}

.header .headerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.header .headerButtons .columnDragButton {
  padding: 0.45rem;
  pointer-events: all;
  cursor: grab;
}

.header .headerButtons .columnDragButton:active {
  cursor: grabbing;
}

.header .headerButtons .columnDragButtonSVG {
  fill: none;
  cursor: grab;

  width: 1rem;
  height: 1rem;
}

.header .headerButtons .editColumn {
  width: calc(1rem + 4px);
  height: calc(1rem + 4px);
  background-color: transparent;
  padding: 2px;
  pointer-events: all;
  cursor: pointer;
  stroke-width: none;
  border-radius: 2px;
}

.header .headerButtons .editColumn:hover {
  background-color: hsl(var(--muted));
}

.header .headerButtons .editColumnActive {
  background-color: hsl(var(--accent));
  color: hsl(var(--white));
}
.header .headerButtons .editColumnActive:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--white));
}

.deletedColumn {
  background-color: hsl(var(--destructive) / 0.3);
}

@media screen and (prefers-color-scheme=dark) {
  .deletedColumn {
    background-color: hsl(var(--destructive) / 0.5);
  }
}
