.column {
  flex: 1;
  min-width: fit-content;
  padding: 1.2rem 1.2rem 2rem;
  list-style-type: none;
  background-color: hsl(var(--card));

  border: 1px solid hsl(var(--border));
  border-radius: calc(var(--radius) + 2px * 2);
}

.header {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;

  align-items: center;
  justify-content: space-between;
}

.header .headerTitle {
  font-size: 1rem;
}

.header .headerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.header .headerButtons .columnDragButton {
  padding: 0.45rem;
  pointer-events: all;
  cursor: grab;
}
.header .headerButtons .columnDragButton:active {
  cursor: grabbing;
}

.header .headerButtons .columnDragButtonSVG {
  fill: none;

  width: 1rem;
  height: 1rem;
}
