.column {
  flex: 1;
  min-width: 100%;
  padding: 1.2rem 1.2rem 2rem;
  list-style-type: none;
  background-color: hsl(var(--card));
  height: fit-content;

  border: 1px solid hsl(var(--border));
  border-radius: calc(var(--radius) + 2px * 2);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;

  align-items: center;
  justify-content: space-between;
}

.header .headerTitle {
  font-size: 1rem;
}

.header .headerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.header .headerButtons .columnDragButton {
  padding: 0.45rem;
  pointer-events: all;
  cursor: grab;
}

.header .headerButtons .columnDragButton:active {
  cursor: grabbing;
}

.header .headerButtons .columnDragButtonSVG {
  fill: none;
  cursor: grab;

  width: 1.2rem;
  height: 1.2rem;
}

.header .headerButtons .editColumn {
  width: calc(1.2rem + 4px);
  height: calc(1.2rem + 4px);
  background-color: transparent;
  padding: 2px;
  pointer-events: all;
  cursor: pointer;
  stroke-width: none;
  border-radius: 2px;
}

.header .headerButtons .editColumn:hover {
  background-color: hsl(var(--muted));
}

.header .headerButtons .editColumnActive {
  background-color: hsl(var(--accent));
  color: hsl(var(--white));
}
.header .headerButtons .editColumnActive:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--white));
}
