.draggableColumn {
}

.header {
  display: flex;
  gap: 1rem;

  align-items: center;
  justify-content: space-between;
}

.task {
  padding: 0.5rem;
}

.column {
  flex: 1;
  min-width: fit-content;
  padding: 1rem;
  list-style-type: none;
  background-color: hsl(var(--card));
}
