.tableBoard {
  --tableSpacing: 0.4rem;
  > * {
    line-height: 1;
  }

  .columnList {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .column {
      list-style-type: none;
      display: flex;
      flex-direction: column;align-items: flex-start;
      justify-content: flex-start;

      border: 1px solid hsl(var(--accent));
      border-radius: calc(var(--radius) / 2);
      overflow: hidden;

      .columnHeader {
        padding: var(--tableSpacing) 0.65rem;
        background-color: hsl(var(--accent));
        width: 100%;

        .columnHeading {
          color: hsl(var(--accent-foreground));
          font-weight: 300;
        }
      }

      .taskWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;



        .task {
          list-style-type: none;
          display: flex;
          border-bottom: 0.5px solid hsl(var(--accent));
          padding: 0.5rem 0.65rem;


          &:first-child {
            border-top: 1px solid hsl(var(--border));
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

