.taskViewer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  padding: 1rem;

  gap: 32px;
  position: fixed;
  top: calc(var(--nav-height) + 0.5rem);
  padding-top: calc(2rem + 4px);
  right: 0;
  left: var(--sidebar-width);
  height: calc(100dvh - var(--nav-height) - 1rem);
  padding-left: 2rem;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(120%);
  //max-height: 100dvh;
  overflow: scroll !important; /* Adds a vertical scrollbar if content exceeds max-height */

  background-color: hsl(var(--card));

  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  visibility: none;
  display: none;
  z-index: 1000;

  .topCTAwrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .topCTAbuttonsWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
    }
  }

  .bottomButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: fit-content;

    .delete {
      background-color: hsl(var(--destructive));
      text: hsl(var(--destructive-foreground));
    }
  }

  .customSelect {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 6px 12px;
    height: 45px;
    font-family: inherit;
    background-color: hsl(var(--card));
    border: 1px solid hsl(var(--input));
    outline: none;
    border-radius: calc(var(--radius) - 2px);
    color: hsl(var(--foreground));
    margin: 0;
    transition: border-color 0.15s ease-in-out;
  }

  .titleInput {
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    border-color: hsl(var(--border));

    white-space: nowrap;
    font-size: 1.2rem;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    height: fit-content;
  }
}

.taskBackdrop {
  display: 0;
}

.statusPriorityDueDateWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.backButton {
  border: 1px solid hsl(var(--border));
}

.startAnimation {
  visibility: visible;
  display: flex;
  animation: slideIn 0.3s ease-in-out forwards;
}

.endAnimation {
  animation: slideOut 0.3s ease-in-out forwards;
}

.successButton {
  background-color: hsl(var(--success)) !important;
}
.errorButton {
  background-color: hsl(var(--destructive)) !important;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.title {
}

.description {
}

.info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.status {
}

.priority {
}

.content {
  width: 100%;
  overflow: hidden;

  p {
    font-size: 0.975rem;
    line-height: 1;
  }

  img {
    width: auto;
    min-width: 0;
    max-width: 100%;
    height: auto;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}

@media screen and (min-width: 1280px) {
  .taskViewer {
    right: 0;
    left: 50%;
  }
  .taskBackdrop {
    display: 0;
    background-color: hsl(var(--black) / 0.5);
    position: fixed;
    top: var(--nav-height);
    left: var(--sidebar-width);
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
@media screen and (min-width: 850px) and (max-width: 1279px) {
  .taskViewer {
    right: 0;
    left: 20%;
  }
  .taskBackdrop {
    display: 0;
    background-color: hsl(var(--black) / 0.5);
    position: fixed;
    top: var(--nav-height);
    left: var(--sidebar-width);
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .taskViewer {
    left: 0;
    &::after {
      content: "";
      display: none;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(120%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(120%);
    }
  }
}
