.notFound {
  flex: 1;
  height: min(100svh, 100vh);

  margin: 0 auto;

  padding: 64px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: hsl(var(--foreground));
    text-align: center;
    font-size: 1.75rem;

    text-decoration: underline;
    text-decoration-color: hsl(var(--primary));
    margin-bottom: 8px;
  }

  .subTitle {
    color: hsl(var(--foreground) / 0.85);
    font-family:
      var(--font-geist-mono), var(--font-geist-sans), sans-serif, Helvetica;

    font-size: 1.2rem;
    font-weight: 400;

    margin-bottom: 32px;
  }

  .paragraph {
    color: hsl(var(--gray-11));
    font-size: 1rem;

    text-align: center;
  }
}
