.create-todo__button {
  font-size: 0.875rem;
  background-color: hsl(var(--primary));
  svg {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    vertical-align: middle;
    color: hsl(var(--white));
  }

  &:hover {
    background-color: hsl(var(--primary) / 0.8);
  }
}
