.grid-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  pointer-events: all;
  border-bottom: 1px solid hsl(var(--border));

  height: var(--nav-height);
  background-color: hsl(var(--background));
  z-index: 1000000;

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: hsl(var(--foreground));
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
    pointer-events: all;

    &__logo {
      color: inherit;
      cursor: inherit;
    }
    &__logo-text {
      font-size: 22px;
      line-height: 22px;
      font-weight: 400;
      color: inherit;
      cursor: inherit;
    }
  }

  &__right-side-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__logout-button {
    }
  }
}

@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .grid-navbar {
    &__logo {
      &__logo {
      }
      &__logo-text {
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .grid-navbar {
    &__right-side-wrapper {
      &__hamburger-menu {
        display: none !important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .grid-navbar {
    &__right-side-wrapper {
      &__logout-button {
        display: none !important;
      }

      &__hamburger-menu {
        display: flex;
      }
    }
  }
}
