.dashboardSelector {
  position: fixed;
  top: calc(var(--nav-height) + 0.5rem);
  left: calc(var(--sidebar-width) + 2rem + 2rem);
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.15s ease-in-out;

  .select {
    padding: 0;
    border: 0;

    background: transparent;
    border-bottom: 1.5px solid hsl(var(--activeText));
    color: hsl(var(--activeText));
    cursor: pointer;

    .option {
      padding: 1rem;
    }

    &::selection {
      color: red;
    }
  }
}

@media screen and (max-width: 768px) {
  .dashboardSelector {
    left: 1rem;
  }
}
