.badge {
  font-size: 0.75rem;
  line-height: 1rem;

  font-weight: 600;
  padding: 0.125rem 0.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid hsl(var(--border));
  margin: 4px 0;
}

.badge-text {
  font-size: inherit;
  margin: 0 3px !important;
  padding: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.badge-link {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.badge-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.badge-secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}

.badge-muted {
  background-color: hsl(var(--muted));
  color: hsl(var(--foreground));
}

.badge-outlined {
  background-color: transparent;
  border: 1px solid hsl(var(--primary));
  color: hsl(var(--foreground));
}

.badge-tag {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  border-width: 1px;
  border-radius: 9999px;
  white-space: nowrap;
  width: fit-content;
  display: inline-flex;
  align-items: center;

  &__tag {
    background-color: hsl(var(--black));
    color: hsl(var(--white));
  }

  &__priority-low {
    color: rgb(27, 71, 153);
    background-color: rgb(226, 232, 254);
  }

  &__priority-medium {
    color: rgb(27, 153, 71);
    background-color: rgb(226, 254, 232);
  }

  &__priority-high {
    color: rgb(153 27 27);
    background-color: rgb(254 226 226);
  }
}
