.grid-container-login {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100dvh;

  z-index: 1;
  overflow: visible;

  &__main {
    flex: 1;
    max-width: var(--main--content-max-width); // Setting the width
    z-index: 1;
    overflow-x: hidden;
    height: fit-content;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    &__main {
    }
  }
}
