.triggerButton {
  padding: 0.45rem;
  background-color: hsl(var(--card));
}

.triggerButton svg {
  width: 0.875rem;
  height: 0.875rem;
}

@media screen and (prefers-color-scheme: dark) {
  .triggerButton {
    background-color: hsl(var(--background));
  }
}

@media screen and (max-width: 768px) {
  .triggerButton svg {
    width: 15px;
    height: 15px;
  }
}
