.dashboard-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 2rem;

  > * {
    transition: all 0.3s ease;
  }
  &__title {
    padding: 0;
    line-height: 1;
    color: hsl(var(--muted-foreground));
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__slash {
    font-size: 2rem;
  }

  &__activeTab {
    font-size: 1.5rem;
    color: hsl(var(--foreground));
    &:hover {
      cursor: default !important;
      text-decoration: none !important;
    }

    span {
      font-size: 2rem !important;
      color: hsl(var(--foreground));
    }
  }
}
