.sortManualButton {
  font-size: 0.875rem;
  background-color: hsl(var(--secondary));
  position: relative;
}

.sortManualButton svg {
  width: 14px;
  height: 14px;
  display: block;
  margin: auto;
  color: hsl(var(--white));
}

.active svg {
  fill: none;
  filter: drop-shadow(0 0 8px hsl(var(--primary))); /* Glowing effect */
  /* animation: pulse 2s infinite; */
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  0%,
  100% {
    filter: drop-shadow(0 0 8px hsl(var(--primary)));
  }
  50% {
    filter: drop-shadow(0 0 16px rgba(255, 255, 255, 1));
  }
}

@keyframes svg-shadow {
  from {
    filter: drop-shadow(0 0 5px hsl(var(--primary-foreground)))
      drop-shadow(0 0 15px hsl(var(--primary)))
      drop-shadow(0 0 20px hsl(var(--primary)));
  }

  to {
    filter: drop-shadow(0 0 20px hsl(var(--primary-foreground)))
      drop-shadow(0 0 25px hsl(var(--primary)))
      drop-shadow(0 0 40px hsl(var(--primary)));
  }
}

.sortManualButton:hover {
  background-color: hsl(var(--secondary) / 0.8);
}
