/* CSS */
.sortManualButton {
  border: none;
  outline: none;
  position: relative;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
  background-color: hsl(var(--accent));
}

.sortManualButton:hover {
  background-color: hsl(var(--accent));
}

@media screen and (prefers-color-scheme: dark) {
  .sortManualButton {
  }
  .sortManualButton:hover {
  }
}

.sortManualButton svg {
  width: 20px;
  height: 20px;
  fill: none;
  color: hsl(var(--accent));
}

.active svg {
  stroke: hsl(var(--primary));
  filter: drop-shadow(0px 0px 8px hsl(var(--destructive)));
}

.active {
}
