/* CSS */
.sortManualButton {
  border: none;
  outline: none;
  position: relative;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
  background-color: hsl(var(--accent));
}

.sortManualButton:hover {
  background-color: hsl(var(--foreground) / 0.6);
}

@media screen and (prefers-color-scheme: dark) {
  .sortManualButton {
    background-color: hsl(var(--accent));
  }
  .sortManualButton:hover {
    background-color: hsl(var(--foreground) / 0.2);
  }
}

.sortManualButton svg {
  width: 20px;
  height: 20px;
  fill: none;
  color: hsl(var(--white));
}

.active svg {
  color: hsl(var(--white));
}

.active {
  background-color: hsl(var(--accent));
}

@media screen and (prefers-color-scheme: dark) {
  .active {
    background-color: hsl(var(--foreground) / 0.5);
  }
}

.active:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: calc(var(--radius) - 2px);
  overflow: hidden;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.active:after {
  z-index: -1;
  content: "";
  position: absolute;

  inset: 0px;
  border-radius: calc(var(--radius) - 2px);
  background: hsl(var(--foreground) / 0.5);
  overflow: hidden;
}

.active:hover:after {
  z-index: -1;
  content: "";
  position: absolute;

  inset: 0px;
  border-radius: calc(var(--radius) - 2px);
  background: hsl(var(--foreground) / 0.8);
  overflow: hidden;
}

@media screen and (prefers-color-scheme: dark) {
  .active:after {
    inset: 2px;

    background: hsl(var(--accent));
  }
  .active:hover:after {
    inset: 0px;

    background: hsl(var(--accent));
  }
}
