.sortManualButton {
  font-size: 0.875rem;
  background-color: hsl(var(--muted));
}

@media screen and (prefers-color-scheme="dark") {
  .sortManualButton {
    background-color: hsl(var(--secondary));
  }
}

.sortManualButton svg {
  width: 20px;
  height: 20px;
  fill: none;
  animation: pulse 4s ease-in-out infinite alternate;
}

.sortManualButton svg path {
}

.sortManualButton svg .glow {
  filter: drop-shadow(
    0 0 5px hsl(var(--primary) / 0.5)
  ); /* Subtle constant glow */

  animation: travelGlow 4s infinite linear;
}

/* Define your gradient in the SVG */
/* Alternatively, you can use CSS gradients for strokes in browsers that support it */

@keyframes pulse {
  0%,
  100% {
    filter: drop-shadow(0 0 8px hsl(var(--primary)));
  }
  50% {
    filter: drop-shadow(0 0 16px hsl(var(--primary) / 0.75));
  }
}

@keyframes travelGlow {
  0%,
  100% {
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
    stroke: hsl(var(--info));
    filter: drop-shadow(0 0 0.5px hsl(var(--primary))) blur(0.3px); /* Initial state of the glow */
    opacity: 0.5;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -100px;
    filter: drop-shadow(0 0 1px hsl(var(--primary) / 0.75)) blur(0.6px); /* Intense glow and blur at mid-animation */
    opacity: 0.8;
  }
}

.sortManualButton:hover {
  background-color: hsl(var(--muted) / 0.8);
}
