.grid-container-password {
  min-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: hsl(var(--card));

  &__main {
    width: fit-content;
    padding: 6rem 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    max-width: 650px;
    margin: 0 auto;
    gap: 2rem;
  }

  &__main-success {
    width: fit-content;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    max-width: 650px;
    margin: 0 auto;
    margin-top: 64px;
    gap: 2rem;
    position: relative;
    z-index: 10;

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;

      text-align: center;
      text-wrap: balance;

      h1 {
        span {
          svg {
            font-size: 2rem;
            vertical-align: middle;
            padding-bottom: 4px;
          }
        }
      }
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   border-radius: 25px;
    //   inset: 0;
    //   background-color: hsl(var(--success) / 0.3);
    //   z-index: -1000;
    // }
  }
}

@media screen and (max-width: 768px) {
  .grid-container-password {
    &__navbar {
      a {
        img {
          height: 40px !important;
        }
      }
    }
    &__main {
      align-items: flex-start;

      .custom-form {
        max-width: 100%;

        .form-content-wrapper {
          min-width: 100%;
        }
      }
    }
    &__main-success {
      margin: 20px auto;
      padding: 40px 20px;
    }
  }
}
