.signupFirstSection3d {
  background-color: hsl(var(--card));

  .svgWrapper {
    position: fixed;
    top: var(--nav-height);
    right: calc(50% + 2rem);

    bottom: 0;
    left: calc(0% + 1rem);
    perspective: 4000px;
    perspective-origin: 100% 0;
    transform-style: preserve-3d;
    .svg {
      max-width: 50%;
      max-height: 50%;

      transform: scale(0.7) translateX(0%) translateY(0) rotateX(45deg)
        rotateY(37deg) rotate(324deg);
      transform-origin: bottom right;
      backface-visibility: hidden;
      border-radius: 1rem;

      &::after {
        content: "";
        pointer-events: none;
        position: absolute;
        inset: 0;
        z-index: 2;
        background: linear-gradient(
          to bottom,
          transparent 50%,
          var(--background) 100%
        );
      }

      .svgElements {
        .navbar {
          width: fit-content;
          height: fit-content;
        }

        .sidebar {
          width: fit-content;
          height: fit-content;

          transform: translateY(-1%);
        }

        .content {
          width: fit-content;
          height: fit-content;

          transform: translateY(-101%) translateX(11%);
        }
      }
    }
  }

  &::after {
    content: "";
    position: fixed;
    inset: 0;
    background-color: hsl(var(--card));
    z-index: -1;
    left: 0;
    top: var(--nav-height);
    right: 49%;
    bottom: 0;
  }
}
