.sidebar__content {
  // ul
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow: hidden;
  width: 100%;

  &__item {
    // li
    list-style-type: none;

    &__link {
      display: flex;
      align-items: center;
      justify-content: start;
      white-space: nowrap;
      gap: 0.5rem;
      text-decoration: none;
      color: hsl(var(--foreground));

      padding: 0.5rem 0.75rem;
      border-radius: calc(var(--radius) - 2px);
      background-color: transparent;

      // styles
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;

      position: relative;

      svg {
        flex: 0 0 24px;
        background-color: hsl(
          var(--background)
        ); // Set a default that can be overridden
      }

      &:hover {
        background-color: hsl(var(--sidebar-bg));
        @media (prefers-color-scheme: dark) {
          background-color: hsl(var(--muted)) !important;
        }

        svg {
          background-color: hsl(var(--sidebar-bg)) !important;
          @media (prefers-color-scheme: dark) {
            background-color: hsl(var(--muted)) !important;
          }
        }
      }
    }

    &__link-active {
      background-color: hsl(var(--muted));
      color: hsl(var(--foreground));
      font-weight: 600;
      svg {
        background-color: hsl(var(--muted)) !important;
      }

      &:hover {
        background-color: hsl(var(--muted));
        color: hsl(var(--foreground));
        svg {
          background-color: hsl(var(--muted)) !important;
        }
      }
    }
  }

  &__item-mobile-only {
    display: none;
    border: none;
    outline: none;
    font-family: inherit;
  }
}
@media screen and (min-width: 769px) {
  [data-sidebar-open="false"] {
    .sidebar__content {
      width: fit-content;

      // ul
      &__item {
        width: fit-content;
        // li

        &__link {
          width: fit-content;
          overflow: hidden;
          transition: width 0.15s ease-in-out;

          .link-text {
            display: none;
            width: 0 !important;
            overflow: hidden;
            transition: width 0.15s ease-in-out;
          }
        }
      }
    }
  }
}

[data-sidebar-open="true"] {
  .sidebar__content {
    width: 100%;
    // ul
    &__item {
      // li
      width: 100%;
      &__link {
        width: 100%;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        transition: width 0.15s ease-in-out;

        svg {
          background-color: hsl(var(--background));
          z-index: 10;
        }
        .link-text {
          display: flex;
          width: min-content;
          overflow: hidden;
          transition: width 0.15s ease-in-out;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  [data-nav-open="true"] {
    .sidebar__content {
      // ul
      &__item-mobile-only {
        display: initial;
        cursor: pointer;
        button {
          border: none;
          font-family: inherit;
        }
      }
    }
  }
}
