.content {
  // ul
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;

  overflow: hidden;
  width: 100%;

  .item {
    // li
    list-style-type: none;

    .link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
      gap: 0.5rem;
      text-decoration: none;
      color: hsl(var(--foreground));

      padding: 0.5rem 0.75rem;
      border-radius: calc(var(--radius) - 2px);
      background-color: transparent;

      // styles
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 0.875rem;

      position: relative;

      svg {
        flex: 0 0 1.2rem;
        width: 1.2rem;
        height: 1.2rem;
        background-color: hsl(var(--background));
      }

      &:hover {
        cursor: pointer;
        background-color: hsl(var(--sidebar-bg));
        @media screen and (prefers-color-scheme: dark),
          screen and (-webkit-prefers-color-scheme: dark) {
          background-color: hsl(var(--muted)) !important;
        }

        svg {
          background-color: hsl(var(--sidebar-bg)) !important;
          @media screen and (prefers-color-scheme: dark),
            screen and (-webkit-prefers-color-scheme: dark) {
            background-color: hsl(var(--muted)) !important;
          }
        }
      }
    }

    .activeLink {
      background-color: hsl(var(--muted));
      color: hsl(var(--foreground));
      font-weight: 600;
      svg {
        background-color: hsl(var(--muted)) !important;
      }

      &:hover {
        background-color: hsl(var(--muted));
        color: hsl(var(--foreground));
        svg {
          background-color: hsl(var(--muted)) !important;
        }
      }
    }
  }

  .mobileOnlyItem {
    display: none;
    border: none;
    outline: none;
    font-family: inherit;
  }
}
@media screen and (min-width: 769px) {
  [data-sidebar-open="false"] {
    .content {
      width: fit-content;

      .localeSwitcher {
        display: none;
      }

      // ul
      .item {
        width: fit-content;
        // li

        .link {
          width: fit-content;
          overflow: hidden;
          transition: width 0.15s ease-in-out;

        }
          .linkText {
            display: none;
            width: 0 !important;
            overflow: hidden;
            transition: width 0.15s ease-in-out;
          }
      }
    }
  }
}

[data-sidebar-open="true"] {
  .content {
    .localeSwitcher {
      display: none;
    }
    width: 100%;
    // ul
    .item {
      // li
      width: 100%;
      .link {
        width: 100%;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        transition: width 0.15s ease-in-out;

        svg {
          background-color: hsl(var(--background));
          z-index: 10;
        }
        .linkText {
          display: flex;
          width: min-content;
          overflow: hidden;
          transition: width 0.15s ease-in-out;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  [data-nav-open="true"] {
    .content {
      margin-top: 0;
      // ul
      .mobileOnlyItem {
        display: initial;
        cursor: pointer;
        button {
          border: none;
          font-family: inherit;
        }
      }

      .localeSwitcher {
        display: flex;
      }

    }
  }
}

