.login-or-signup {
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: visible;
  width: 100%;
  gap: 8rem;

  .section {
    flex: 1 0 calc(50% - 4rem);

    .form-card {
      width: 100%;
      max-width: 440px;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .switchPageStatement {
        font-size: 0.875rem;
        text-align: center;

        a {
          color: hsl(var(--primary));
        }
      }

      .link {
        text-decoration: underline;
      }
    }
  }

  .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5rem;

    p {
      max-width: 370px;
      text-align: center;
    }

    // &::after {
    //   content: "";
    //   position: fixed;
    //   inset: 0;
    //   background-color: hsl(var(--secondary));
    //   z-index: -1;
    //   right: 50%;
    //   top: 0;
    //   left: -1000000px;
    //   bottom: 0;
    // }
  }

  .signup-animation {
    margin-bottom: 100px;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .form-card {
      border-color: hsl(var(--border));
      border-color: transparent;
      margin: 0 !important;
    }

    &::after {
      content: "";
      position: fixed;
      inset: 0;
      background-color: hsl(var(--card));
      z-index: -1;
      left: 50%;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  .signup-success-on-login {
    .form-card {
      border-color: transparent;
    }
  }
}

@media screen and (max-width: 1080px) {
  .login-or-signup {
    gap: 0;

    .section {
      .form-card {
        max-width: 350px;
      }
    }

    .first-section {
      align-items: center;
      flex: 1 0 40%;

      &::after {
        background-color: transparent;
        display: none;
      }
    }

    .second-section {
      align-items: center;
      flex: 1 0 60%;

      &::after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .login-or-signup {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    background-color: hsl(var(--card));

    .section {
      width: 100%;
      border: none;
    }

    .first-section {
      align-items: center;
      display: none;
      .lottie-animation {
        width: 200px !important;
        height: 200px !important;
      }
    }

    .second-section {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      .form-card {
        border-color: hsl(var(--border));
      }

      &::after {
        display: none;
      }
    }
  }
}
