
.draggableTask {
  padding: 0.75rem;
  background: hsl(var(--card));
  border-radius: 4px;
  border: 1px solid hsl(var(--border) / 0.75);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;


  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      border-color: hsl(var(--border) / 1);
    }
  }


  .taskHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    position: relative;


    .taskTitle {
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }



  }


  .descriptionWrapper {
    position: relative;
    display: flex;

    .description {
      width: 90%;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }


    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent 10%, hsl(var(--card) / 0.75) 150%);
    }
  }


  .taskFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

  }


}

.isDragging {
  opacity: 0.75;
  cursor: grabbing;
  border-color: hsl(var(--primary));

}

.isDragOverlay {
  background: hsl(var(--card) / 0.65);
  backdrop-filter: blur(12px);
}





