.progressSummary {
  padding: 0 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: slideDown 0.35s ease-in-out;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.progressSummary .wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.progressSummary .wrapper .headerTitle {
  font-size: 1rem;
}
.progressSummary .wrapper .summaryList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.25rem;
}
.progressSummary .wrapper .summaryList .summaryItem {
  list-style-type: none;
  padding: 1rem 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
    var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  background-color: hsl(var(--muted2));
  border-radius: var(--radius);
  cursor: default;
  border: 1px solid hsl(var(--border));
}
.progressSummary .wrapper .summaryList .summaryItem .title {
  color: hsl(var(--foreground));
  font-size: 1rem;
  font-weight: 400;
}
.progressSummary .wrapper .summaryList .summaryItem .description {
  color: hsl(var(--muted2-foreground));
  font-size: 1.25rem;
  font-weight: 700;
}
.progressSummary .wrapper .summaryList .summaryCompleted {
  background-color: hsl(var(--success) / 0.5);
}
.progressSummary .wrapper .summaryList .summaryCompleted .description {
  color: hsl(var(--black) / 0.5);
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .progressSummary .wrapper .summaryList .summaryCompleted .description {
    color: hsl(var(--white) / 0.5);
  }
}
.progressSummary .wrapper .summaryList .summaryDeleted {
  background-color: hsl(var(--destructive) / 0.5);
}
.progressSummary .wrapper .summaryList .summaryDeleted .description {
  color: hsl(var(--black) / 0.5);
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .progressSummary .wrapper .summaryList .summaryDeleted .description {
    color: hsl(var(--white) / 0.5);
  }
}
.progressSummary .dueToday {
  text-decoration: none;
  cursor: pointer;
}
.progressSummary .dueToday li {
  background-color: hsl(var(--muted)) !important;
}
.progressSummary .dueToday:hover {
  cursor: pointer !important;
}
.progressSummary .dueToday .summaryItem {
  cursor: pointer !important;
}
.progressSummary .overdue {
  background-color: hsl(var(--destructive) / 0.5);
}
.progressSummary .overdue .description {
  color: hsl(var(--black) / 0.5);
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .progressSummary .overdue .description {
    color: hsl(var(--white) / 0.5);
  }
}
.progressSummary .TaskSummary .ul,
.progressSummary .TaskSummary ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  grid-gap: 1.25rem;
  gap: 1.25rem;
}
.FadeIn {
  opacity: 0;
  animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.showMoreButton {
  margin: 0 1.5rem;
  margin: 1rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.showMoreButton:hover {
  cursor: pointer;
}
.showMoreButton p {
  font-size: 1rem;
  white-space: nowrap;
}

/*# sourceMappingURL=progressSummary.module.css.map */
