.sidebar__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-self: flex-end;

  padding: 0.5rem 0.75rem;

  &__wrapper {
    font-size: 0.875rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
  }

  svg {
    cursor: pointer;
  }
}

[data-sidebar-open="false"] {
  .sidebar__footer {
    .sidebar__footer__wrapper {
      .link-text {
        display: none;
      }
    }

    .IconSettings {
      display: none;
    }
  }
}
