.grid-container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows: var(--nav-height) auto;
  grid-template-areas:
    "navbar navbar"
    "sidebar main";
  z-index: 1;
  overflow: visible;
  transition: grid-template-columns 0.15s ease-in-out;

  // Navbar setup
  &__navbar {
    grid-area: navbar; // Assigning to the navbar area
    height: var(--nav-height); // Setting the height
    z-index: 10;
  }

  // Main content setup
  &__main {
    grid-area: main; // Assigning to the main area
    flex: 1;
    max-width: var(--main--content-max-width); // Setting the width
    padding: var(--main-padding);
    z-index: 0;

    min-height: 100%;
    position: relative;
  }

  &__sidebar {
    grid-area: sidebar;
    width: var(--sidebar-width);
    z-index: 10;
  }

  &__footer {
    grid-area: footer;
    max-width: var(--main--content-max-width); // Setting the width
    padding: var(--main-padding);
    z-index: 1;
    overflow-x: hidden;
    height: fit-content;
    place-self: flex-end;
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-areas:
      "navbar"
      "main";

    &__main {
      padding: 2.5rem 1rem 1rem;
    }

    // // Need high specificity
    // .grid-container__sidebar {
    //   display: none;
    // }
  }
}
