.custom-input {
  font-size: 1rem;
  // font-size: 0.8125rem;
  line-height: 1.25rem;
  height: 45px;

  padding: 6px 12px;

  font-family: inherit;
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--input));
  outline: none;
  border-radius: calc(var(--radius) - 2px);
  color: inherit;
  margin: 0;

  transition: border-color 0.15s ease-in-out;

  &:autofill {
    box-shadow: inset 0 0 0 100px hsl(var(--card));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    appearance: textfield;
  }

  &::placeholder {
    color: hsl(var(--foreground) / 0.5);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: hsl(var(--input-hover));

    @media screen and (prefers-color-scheme: dark) {
      border-color: hsl(var(--input-hover));
    }
  }
}

.custom-input-label {
  font-size: 0.875rem;
  font-family: inherit;
}

.custom-input-label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4125rem;
  align-items: flex-start;
}
