.reveal-card {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  color: hsl(var(--card-foreground));
  background-color: hsl(var(--card));
  border-radius: var(--radius);
  cursor: grab;
  border: 1px solid hsl(var(--border));
  position: relative;

  overflow: visible;

  &__remove {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    top: -0.14rem;
    right: -0.14rem;
    cursor: pointer;
    fill: hsl(var(--destructive));
    color: hsl(var(--destructive));
    transition: color 0.15s ease-in-out;
    pointer-events: all;
    cursor: pointer;
    z-index: 100;

    &:hover {
      color: hsl(var(--foreground));
    }
  }
  &__wrapper {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__header {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      h3 {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.15;
        hyphens: auto;
        text-wrap: balance;
        min-width: 0;
        user-select: text;
        cursor: text;
        // pointer-events: none; // delete
      }
      p {
        font-size: 12px;
        font-weight: 200;
        line-height: 1.1;
        color: hsl(var(--muted-foreground));
        user-select: text;
        // pointer-events: none; // delete
        cursor: text;
      }
    }
    &__badges {
      margin-top: 4px;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      user-select: text;
      // pointer-events: none; // delete

      cursor: text;
    }
    &__content {
    }
  }

  cursor: default;
}

.reveal-card-permanently-deleting {
  background-color: hsl(var(--background));
}

.reveal-card-sortable {
  cursor: pointer;
  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }
}
.reveal-card-not-sortable {
  cursor: default;
  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

.reveal-card-sortable-and-is-row-layout {
  cursor: default;
  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

.reveal-card-is-grabbed {
  opacity: 0.25;
  overflow: visible;
  //display: none;
}

.reveal-card-sort-manual-row-layout-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  shape-rendering: crispEdges;
  stroke-linejoin: round;

  cursor: grab;

  path {
    shape-rendering: geometricprecision;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}

.reveal-card-mobile {
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .reveal-card {
    &__wrapper {
      &__header {
        h3 {
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.5rem;
        }
        p {
          font-size: 12px;
          line-height: 1.25rem;
        }
      }

      &__badges {
        &__tags,
        &__priority {
          font-weight: 600;
          font-size: 10px;
        }
      }
    }
  }
}
