.draggableColumn {
  background-color: hsl(var(--card));
  min-height: 200px;
  padding: 0.5rem;
  border-radius: var(--radius);
  z-index: 1000;
  border: 1px solid hsl(var(--border));

  .columnHeader {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem;
    background-color: hsl(var(--background));
    border-radius: calc(var(--radius) / 2);

    cursor: grab;


    .taskContainer {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }


  }
}

.isDragging {
  opacity: 0.5;
  border-color: red;


  .columnHeader {
    cursor: grabbing;
  }
}