.dashboardsPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .h1 {
      font-size: 1.2rem;
      text-align: left;
      align-self: center;
    }

    .createDashboard {
      max-width: fit-content;
    }
  }
  .dashboardMain {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 1rem;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .dashboards {
    .dashboardMain {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
